extends ../layout
block content 
    h1 products
    form(action="/products/add",method="post")
        .form-group
            label(for="name") Name
            input#name(type="text", class="form-control", name="name")
        .form-group
            label(for="price") Price
            input#gender(type="text", class="form-control", name="price")
        .form-group
            label(for="description") Description 
            input#des(type="text", class="form-control", name="description")
        
        input(type="submit", class="btn btn-info")

            