extends ../layout

block content 
    .row
        .col-sm-8
            h1 Product Details
        .col-sm-4
            a(href="/products/add", class="btn btn-success float-right") Add products
    table.table
        thead 
            tr 
                th Name 
                th Price
                th Description 
                th Rating
        tbody 
            each product in products   
                tr          
                    td=product.name 
                    td=product.price
                    td=product.description 
                    td=product.rating
                   
                    td 
                        a(href="/products/delete/"+product._id, class= "btn btn-danger") Delete 
                        a(href="/products/shop/"+product._id, class= "btn btn-info") Add to cart 
