extends ../layout

block content 
    .row
        .col-sm-8
            h1 Product Details
        .col-sm-4
            a(href="/products/add", class="btn btn-success float-right") Add products
    table.table
        thead 
            tr 
                th Name 
                th Price
                th Description 
                th Rating
                th Actions
        tbody 
            each product in products   
                tr          
                    td=product.name 
                    td=product.price
                    td=product.description 

                    td  
                        <div class="rate">
                            <input type="radio" id="star5" name="rate" value="5" />
                            <label for="star5" title="text">5 stars</label>
                            <input type="radio" id="star4" name="rate" value="4" />
                            <label for="star4" title="text">4 stars</label>
                            <input type="radio" id="star3" name="rate" value="3" />
                            <label for="star3" title="text">3 stars</label>
                            <input type="radio" id="star2" name="rate" value="2" />
                            <label for="star2" title="text">2 stars</label>
                            <input type="radio" id="star1" name="rate" value="1" />
                            <label for="star1" title="text">1 star</label>
                        </div>
                  
                   
                    td 
                        a(href="/products/delete/"+product._id, class= "btn btn-danger") Delete 
                        a(href="/products/shop/"+product._id, class= "btn btn-info") Add to cart 
                    
